<ion-view hide-back-button="false"  style="background-color:black;"><!--THIS IS THE MAIN PAGE WITH THE TWO BUTTONS-->
	<ion-nav-title>
    <img class="toplogo" src="img/whitelogoshadow2-01.svg"/>
  </ion-nav-title>

  <ion-content  has-bouncing="true" scroll="true" style="background-color:black;">

  	<a href="#/app/mworkouts">
	    <div class="mainbtn" style="margin-top:9%;">
	      <img class="mainimg" src="img/malebtn2.jpg" style="height:100%;"/>
	    </div>
 	</a>

	<a href="#/app/fworkouts">
		 <div class="mainbtn">
		    <img class="mainimg" src="img/femalebtn2.jpg" style="margin-top:-10%;height:101%;"/>
		</div>
	</a>

  </ion-content>
</ion-view>