<ion-view hide-back-button="true" hide-nav-bar="true" can-swipe-back="false">
	
  <ion-nav-title>
  </ion-nav-title>

  <ion-content scroll="false" style="background-image:url(img/sublback-01.png);background-size:100% 100%;">
    <audio autoplay="false">
      <source src="img/321.mp3" type="audio/mpeg"/>
    </audio>

    <div style="width:100%;margin-top:25%;background-color:white;font-size:200px;font-family:BebasNeue;color:{{choice.colorline}};text-align:center;padding:40%;">
      <p class="animated zoomIn infinite">
        {{count}}{{helloyellow}}
      </p>
    </div>


    <div style="width:45px;margin-left:auto;margin-right:auto;border:0px solid black;">
      <img class="animated rotateInDownLeft infinite" style="width:100%;" src="img/phone2-01.png"/>
    </div>

    <div style="color:black;text-align:center;width:60%;margin-left:20%;font-size:18px;font-family:BebasNeue;">
      TIP: Flip your phone to get a better view
    </div>


  </ion-content>
</ion-view>
