<ion-view  on-scroll-complete="scrollTop" has-bouncing="false" hide-back-button="false" hide-nav-bar="false" can-swipe-back="false" style="background-color:black;background-size:100% 100%;">   
  <ion-nav-title>
   <p style="font-family:BebasNeue;font-size:22px;color:white;">Login</p>
  </ion-nav-title>

<!-- Login.HTML PAGE -->


 <ion-content class="AnimationName">
 	<div style="height:97%;width:95%;margin-top:2.5%;margin-left:2.5%;background-color:black;">
<!--  		<div style="width:100%;height:25%;border:0px solid red;">
 			<img src="img/goldlogo-01.png" style="width:25%;height:60%;min-height:65px;margin-left:37.5%;margin-top:15%;"/> 
 		</div>

 		 <div style="width:100%;height:25%;border:0px solid red;margin-top:15%;">

 			<img src="img/loginbtn-01.png" ng-click="gotologin()" style="width:240px;height:46px;margin-left:auto;margin-right:auto;margin-top:5%;display:block;"/> 

 			<img src="img/signupbtn-01.png" ng-click="gotosignup()" style="width:240px;height:46px;margin-left:auto;margin-right:auto;margin-top:7.5%;display:block;"/> 

 		</div> -->


 		<div style="width:100%;height:180px;border:0px solid white;">
 		 <form ng-submit="doLogin()">
          <div style="font-family:BebasNeue;font-size:3vh;">
     </br>

          <input maxlength="26" style="margin-top:10px;margin-left:10%;width:80%;border-bottom:2px solid white;background:transparent;font-family:bebasNeue;font-size:4vh;height:7vh;text-align:center;color:white;line-height:150%;" 
          type="text" placeholder="E-Mail" ng-model="loginData.email">
          </input> 
      </br>


          <input maxlength="26" style="margin-top:10px;margin-left:10%;width:80%;border-bottom:2px solid white;background:transparent;font-family:bebasNeue;font-size:4vh;height:7vh;text-align:center;color:white;line-height:150%;" 
          type="password" placeholder="Password" ng-model="loginData.password">
          </input> 


          </div>

        </form>
    </div>



      <!--  <div style="width:100%;height:15vh;border:2px solid red;margin-top:5%;" ng-click="gotobrowse();"> -->
        <div style="width:100%;height:50px;border:0px solid red;margin-top:5%;" ng-click="confirm();"> 

        	<img src="img/donebtn-01.png" style="width:240px;height:46px;margin-left:auto;margin-right:auto;display:block;"/>


      	</div>

        <div style="width:100%;height:50px;border:0px solid red;margin-top:8%;" ng-click="goForgetPassword();">
          <!--img src="img/donebtn-01.png" style="width:240px;height:46px;margin-left:auto;margin-right:auto;display:block;"/-->
          <p style = "width: : 240px;height: :46px;margin-top: 3%; margin-left:auto;margin-right: auto;font-family:bebasNeue;font-size: 3vh;text-align:center;color:grey;line-height:100%">Forgot Password</p>
        </div>

 	</div>

  </ion-content>
</ion-view>