<ion-modal-view style="background: transparent;">
  <ion-content has-bouncing="true" scroll="true" class="animated fadeIn">

  <div style="height:97%;width:95%;margin-top:2.5%;margin-left:2.5%;background-color:black;">
    <div style="height:10%;">
      .
    </div>
    

    <div style="width:100%;border:0px solid red;">
      <img src="img/goldlogo-01.png" style="width:20%;height:20%;margin-left:40%;"/>
    </div>

    <div style="height:25%;border:0px solid blue;">
      .
    </div>

    <div style="height:30%;width:90%;margin-left:5%;border:0px solid green;text-align:center;">

      <p style="padding-top:5%;color:white;font-family:BebasNeue;font-size:35px;">
        WELCOME


      </p>

      <p style="padding-top:5%;color:white;font-family:BebasNeue;font-size:18px;line-height: 130%;">
        Welcome to the exclusive club, we call Celebrity Gym. Top celebrity trainers, hollywood fitness coaches and A-list wellness gurus have come together to deliver a one of kind fitness journey...and we're so glad you decided to join along.
      </p>

      <p style="padding-top:5%;color:red;font-family:BebasNeue;font-size:20px;line-height: 130%;"> 
        - Let's Get Started - 
      </p>

    </div>


  </div>

<!--     <div  style="border:0px solid black;margin-top:20%;height:5%;background-image:url(img/tilt-01.png);background-size:100% 100%;">
    </div>

    <div style="width:100%;height:350px;border:2px solid white;background-color:white;">
      <audio autoplay="false"><source src="img/intro.mp3" type="audio/mpeg"></audio>
      <p style="font-size:40px;text-align:center;width:100%;border:0px solid black;height:10%;font-family:BebasNeue;color:#29c8e8;margin-top:10%;">WELCOME TO CELEB GYM</p>

      <p style="font-size:13px;text-align:center;width:80%;margin-left:auto;margin-right:auto;border:0px solid black;height:5%;font-family:Geo;color:black;margin-top:2%;">Welcome to the exclusive club, we call Celebrity Gym. Top celebrity trainers, hollywood fitness coaches and A-list wellness gurus have come together to deliver a one of kind fitness journey...and we're so glad you decided to join along. Let's get started!
      
       Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultricies risus justo, eu congue lorem convallis a. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent nec tellus efficitur, varius odio in, consectetur purus. Sed id porttitor leo. Maecenas luctus lorem arcu, non dictum tellus ornare in. Sed scelerisque vestibulum imperdiet. Donec tempus elit ante, at convallis nisl lacinia eu.
      </p>

    </div> -->
    
  </ion-content>
</ion-modal-view>
