<ion-modal-view style="background: transparent;">
  <ion-content has-bouncing="true" scroll="true" class="animated fadeIn">

  <div style="height:97%;width:95%;margin-top:2.5%;margin-left:2.5%;background-color:black;">
    <div style="height:10%;">
      .
    </div>
    

    <div style="width:100%;border:0px solid red;">
      <img src="img/goldlogo-01.png" style="width:20%;height:20%;margin-left:40%;"/>
    </div>

    <div style="height:25%;border:0px solid blue;">
      .
    </div>

    <div style="height:30%;width:90%;margin-left:5%;border:0px solid green;text-align:center;">

      <p style="padding-top:5%;color:white;font-family:BebasNeue;font-size:35px;">
        <ion-spinner icon="ripple"></ion-spinner>
      </p>

    </div>


  </div>
    
  </ion-content>
</ion-modal-view>
