<ion-view  hide-back-button="false" hide-nav-bar="false" can-swipe-back="false" side-menu-content drag-content="false" style="background-color:black;">
  <ion-nav-title>
   <p style="font-family:BebasNeue;font-size:22px;color:white;">Premium</p>
    <!-- <img class="toplogo" src="img/whitelogoshadow-01.svg"> -->
  </ion-nav-title>
  <ion-content has-bouncing="true" side-menu-content drag-content="false">
<!-- {{ctrlCheck}}  and {{tmbc}} -->
<div  style="border:0px solid blue;width:100%;height:100%;margin-bottom:0px;">
    

  <ion-slide-box does-continue="true" slide-interval="4500" show-pager="true" auto-play="true" on-slide-changed="slideHasChanged($index)" style="width:100%;height:80%;border:0px solid black;">  


    <ion-slide ng-click="">
      <div style="color:yellow;font-size:15px;">
        <img src="img/prem1t-01.jpg" style="width:100%;max-height:130%;margin-top:-5%;border:0px solid red;top:0px;"/>
      </div>
    </ion-slide>


    <ion-slide ng-click="">
      <div style="color:yellow;font-size:15px;">
        <img src="img/prem2t-01.jpg" style="width:100%;max-height:130%;margin-top:-5%;border:0px solid red;top:0px;"/>
      </div>
    </ion-slide>

    <ion-slide ng-click="">
      <div style="color:yellow;font-size:15px;">
        <img src="img/prem3t-01.jpg" style="width:100%;max-height:130%;margin-top:-5%;border:0px solid red;top:0px;"/>
      </div>
    </ion-slide>

    <ion-slide ng-click="">
      <div style="color:yellow;font-size:15px;">
        <img src="img/prem4t-01.jpg" style="width:100%;max-height:130%;margin-top:-5%;border:0px solid red;top:0px;"/>
      </div>
    </ion-slide>

    <ion-slide ng-click="">
      <div style="color:yellow;font-size:15px;">
        <img src="img/prem5t-01.jpg" style="width:100%;max-height:130%;margin-top:-5%;border:0px solid red;top:0px;"/>
      </div>
    </ion-slide>
  </ion-slide-box>

</div>

<!-- <div style="height:100%;width:100%;background-image:url({{bgPremImage}});background-size:100% 100%;">
 

</div> -->

  <div style="height:20%;width:100%;background-color:rgba(0,0,0,0.8);border:0px solid blue;margin-top:-33%;">
      <img src="img/unlockprem-01.png" ng-click="premium();" style="width:75%;margin-left:12.5%;margin-top:6%;z-index:10;">
      <!-- <div style="color:rgba(255,255,255,0.5);text-align:center;width:100%;">No Thanks, I prefer being standard</div> -->
  </div>


</div>




  </ion-content>
</ion-view>