<ion-view  hide-nav-bar="false" can-swipe-back="false" side-menu-content drag-content="false" style="background-color:black;">
  <ion-nav-title>
   <p style="font-family:BebasNeue;font-size:22px;color:white;">subscribe</p>
    <!-- <img class="toplogo" src="img/whitelogoshadow-01.svg"> -->
  </ion-nav-title>
  <ion-content has-bouncing="true" side-menu-content drag-content="false">

<div style="width:100%;height:87.5%;border:0px solid blue;">
  <p style="font-family:Arial;color:white;width:70%;margin-top:10%;margin-left:15%;text-align:center;font-size:2vh;">
  For only the price of a small cup of coffee, a monthly charge of ${{price}}, you can transform your body. 
  </p>
  <div ng-show='acceptbtn' ng-click="checkPrimiumUser();" style="width:100%;height:15%;border:0px solid white;margin-top:15%;">
    <img src="img/acceptbtn-01.png" style="width:70%;margin-left:15%;"/>
    <br/>
<!--     <br/>
     <img src="img/priceyr-01.png" style="width:70%;margin-left:15%;"/> -->
  </div>
</div>

<div ng-click="openPromo();" style="width:100%;height:12.5%;border:0px solid white;">
  <img src="img/promobtn-01.png" style="width:45%;margin-right:5%;float:right;"/>
</div>







<div  style="background-color:white;width:100%;height:100%;margin-bottom:0px;color:white;">

 <img src="img/unlockprem-01.png"  style="width:75%;margin-left:12.5%;margin-top:6%;z-index:10;">
  <div style="height:20%;width:100%;background-color:rgba(0,0,0,0.8);border:0px solid blue;margin-top:-33%;">
      <img src="img/acceptbtn-01.png" ng-click="openPromo();" style="width:75%;margin-left:12.5%;margin-top:6%;z-index:10;">
  </div>
    

<!--   <ion-slide-box does-continue="true" slide-interval="4500" show-pager="true" auto-play="true" on-slide-changed="slideHasChanged($index)" style="width:100%;height:80%;border:0px solid black;">  


    <ion-slide ng-click="">
      <div style="color:yellow;font-size:15px;">
        <img src="img/prem1t-01.jpg" style="width:100%;max-height:130%;margin-top:-5%;border:0px solid red;top:0px;"/>
      </div>
    </ion-slide>


    <ion-slide ng-click="">
      <div style="color:yellow;font-size:15px;">
        <img src="img/prem2t-01.jpg" style="width:100%;max-height:130%;margin-top:-5%;border:0px solid red;top:0px;"/>
      </div>
    </ion-slide>

    <ion-slide ng-click="">
      <div style="color:yellow;font-size:15px;">
        <img src="img/prem3t-01.jpg" style="width:100%;max-height:130%;margin-top:-5%;border:0px solid red;top:0px;"/>
      </div>
    </ion-slide>

    <ion-slide ng-click="">
      <div style="color:yellow;font-size:15px;">
        <img src="img/prem4t-01.jpg" style="width:100%;max-height:130%;margin-top:-5%;border:0px solid red;top:0px;"/>
      </div>
    </ion-slide>

    <ion-slide ng-click="">
      <div style="color:yellow;font-size:15px;">
        <img src="img/prem5t-01.jpg" style="width:100%;max-height:130%;margin-top:-5%;border:0px solid red;top:0px;"/>
      </div>
    </ion-slide>
  </ion-slide-box> -->

</div>



<!--   <div style="height:20%;width:100%;background-color:rgba(0,0,0,0.8);border:0px solid blue;margin-top:-33%;">
      <img src="img/unlockprem-01.png" ng-click="premium();" style="width:75%;margin-left:12.5%;margin-top:6%;z-index:10;">
  </div> -->


</div>




  </ion-content>
</ion-view>