<ion-view style="background-color:black;" hide-back-button="false" hide-nav-bar="false" can-swipe-back="true">
	<ion-nav-title>
       <p style="font-family:BebasNeue;font-size:22px;color:white;">Settings</p>
     </ion-nav-title>

  <ion-content style="background-color:white;">

<!--   {{ctrlCheck}} -->
<!--   Settings -->

    <!-- <div style="width:100%;margin-top:25%;background-color:white;font-size:200px;font-family:BebasNeue;color:{{choice.colorline}};text-align:center;padding:40%;"><p class="animated zoomIn infinite">{{count}}{{helloyellow}}</p></div>
     -->  
<div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon ion-ios-star"></i>
    Rate Celebrity Gym
  </a>

  <a class="item item-icon-left" ng-click="shareApp();" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Share Celebrity Gym
   <!--  <i class="icon ion-ios-telephone-outline"></i> -->
  </a>

  <a class="item item-icon-left" ng-click="sendFeedback();" href="#">
    <i class="icon ion-compose"></i>
    Send us your feeback
  </a>

  <a class="item item-icon-left" ng-click="logout();" href="#">
    <i class="icon ion-log-out"></i>
    Logout
  </a>

</div>

<div style="width:100%;height:80px;border:0px solid blue;">
    <div style="width:120px;height:100px;margin-left:auto;margin-right:auto;border:0px solid black;font-family:BebasNeue;font-size:12px;text-align:center;background-color:white;color:black;">
      <img style="width:60px;height:60px;margin-left:15px;border:0px solid black;" src="img/goldlogo-01.png"/><p>
      Version 1.0
    </div>
</div>



<!-- 

<div class="list">


  <a class="item item-icon-left item-icon-right" href="#">
    <i class="icon ion-chatbubble-working"></i>
    Unlock all features
    <i class="icon ion-unlocked"></i>
  </a>

</div> -->





  </ion-content>
</ion-view>